<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">

      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">

          <div class="text-900 text-3xl font-medium mb-3">Forget Paswword !</div>
          <span class="text-600 font-medium">Paste your token</span>
        </div>

        <form class="l-f-o__form" name="form" (ngSubmit)="changePassword()"  #f="ngForm" novalidate  >
          <label for="password" class="block text-900 text-xl font-medium mb-2">New Password</label>
          <input [(ngModel)]="form.password" id="password" name="password" type="text" placeholder="Token key" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
          <label for="password1" class="block text-900 text-xl font-medium mb-2">Validate Password</label>
          <input [(ngModel)]="form.password1" id="password1" name="password1" type="text" placeholder="Token key" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">
          <button pButton pRipple label="Reset Password" type="submit" class="w-full p-3 text-xl"></button>
        </form>
        <br>

        <button pButton pRipple label="return" type="button" (click)="goToLogin()" class="p-2 btn-primary" ></button>
      </div>
    </div>
  </div>
</div>


